@import "tailwindcss";

/* Typography components */
@utility text-36-bold {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

@utility text-32-bold {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

@utility text-24-bold {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

@utility text-18-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

@utility text-16-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

@utility text-16-regular {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

@utility text-14-medium {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@utility text-14-regular {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

@utility text-12-semibold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

@utility text-12-regular {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
